# Update map statistics

## Calculate area statistics for one layer
This is one way to calculate area statistics using python

In [1]:
import os
import numpy as np
from pathlib import Path
import zipfile
import geopandas as gpd
import pandas as pd
import rasterio
from rasterstats import zonal_stats

In [2]:
tmpdir = Path(os.path.expanduser('~')) / "workdir/tmp/typology-web-update-content"
gisdata = Path("/opt/gisdata/")
getimdir = Path(os.path.expanduser('~')) / "workdir/tmp/GET-IM-xport-zenodo/"

In [3]:
file = zipfile.ZipFile(gisdata / 'admin/global/LME-admin/lme_admin_20210519.zip')
file.extractall(path= tmpdir)

In [4]:
countries = gpd.read_file(tmpdir / 'lme_admin.shp' )

In [5]:
selection = countries.loc[308:309]
selection = countries.loc[countries['regiontype']=="ADM"]

selection.reset_index()

,index,region_id,regiontype,ignore,title_en,geometry
0,0,ADM_46,ADM,0,Russian Federation,"MULTIPOLYGON (((129.33406 72.77370, 129.20704 ..."
1,1,ADM_1,ADM,0,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
2,2,ADM_2,ADM,0,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
3,3,ADM_3,ADM,0,Chile,"MULTIPOLYGON (((-69.51009 -17.50659, -69.50611..."
4,4,ADM_4,ADM,0,Bolivia,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5..."
...,...,...,...,...,...,...
245,307,ADM_8,ADM,0,India,"MULTIPOLYGON (((79.12223 33.22890, 79.15365 33..."
246,309,ADM_9,ADM,0,China,"MULTIPOLYGON (((114.22983 22.55581, 114.23471 ..."
247,310,ADM_14,ADM,0,South Sudan,"POLYGON ((34.28011 4.52006, 34.17913 4.41991, ..."
248,311,ADM_84,ADM,0,Sudan,"MULTIPOLYGON (((37.26450 20.74999, 37.25441 20..."
249,312,ADM_-1,ADM,0,Western Sahara,"POLYGON ((-13.03713 27.66251, -12.96683 27.662..."

In [6]:
rst = getimdir / 'output-rasters/geotiff-eck4/T7.4.WM.nwx_v1.0.tif'
raster = rasterio.open(rst)
cellarea = np.prod(raster.res)

In [7]:
tsrs = raster.crs.to_proj4()

In [8]:
selection_xy=selection.to_crs(tsrs).reset_index()

In [9]:
selection_xy['area']=selection_xy.area

In [10]:
selection_xy

,index,region_id,regiontype,ignore,title_en,geometry,area
0,0,ADM_46,ADM,0,Russian Federation,"MULTIPOLYGON (((8230552.663 7913051.363, 82237...",1.083403e+13
1,1,ADM_1,ADM,0,Indonesia,"MULTIPOLYGON (((11053285.830 548533.725, 11053...",1.892369e+12
2,2,ADM_2,ADM,0,Malaysia,"MULTIPOLYGON (((11053285.830 548533.725, 11052...",3.300722e+11
3,3,ADM_3,ADM,0,Chile,"MULTIPOLYGON (((-6412886.501 -2286055.147, -64...",7.380158e+11
4,4,ADM_4,ADM,0,Bolivia,"POLYGON ((-6412886.501 -2286055.147, -6412902....",1.092895e+12
...,...,...,...,...,...,...,...
245,307,ADM_8,ADM,0,India,"MULTIPOLYGON (((6939689.470 4230600.629, 69425...",3.198124e+12
246,309,ADM_9,ADM,0,China,"MULTIPOLYGON (((10406857.536 2926853.028, 1040...",9.502562e+12
247,310,ADM_14,ADM,0,South Sudan,"POLYGON ((3218563.624 595465.866, 3209257.581 ...",6.452892e+11
248,311,ADM_84,ADM,0,Sudan,"MULTIPOLYGON (((3411587.168 2699132.542, 34106...",1.868197e+12
249,312,ADM_-1,ADM,0,Western Sahara,"POLYGON ((-1168672.526 3560509.991, -1162370.5...",2.695235e+11

In [11]:
zs = zonal_stats(vectors=selection_xy.loc[:, 'geometry'], raster=rst, categorical=True)

In [12]:
zs

[{1: 3620432, 2: 3527249},
 {1: 1982123, 2: 1417135},
 {1: 385615, 2: 287692},
 {1: 343336, 2: 349586},
 {1: 122226, 2: 210563},
 {1: 331696, 2: 478148},
 {1: 520455, 2: 770225},
 {1: 42507, 2: 14475},
 {1: 59654, 2: 16228},
 {1: 35455, 2: 5783},
 {1: 55468, 2: 8299},
 {1: 1027644, 2: 866187},
 {1: 28284, 2: 48089},
 {1: 494961, 2: 261498},
 {1: 1443564, 2: 733897},
 {1: 183845, 2: 166446},
 {1: 365766, 2: 418239},
 {1: 271482, 2: 166919},
 {1: 1972136, 2: 1654478},
 {1: 15594, 2: 15718},
 {1: 18803, 2: 25681},
 {1: 595570, 2: 127722},
 {1: 74628, 2: 120940},
 {1: 401054, 2: 350838},
 {1: 77128, 2: 68947},
 {1: 55370, 2: 81579},
 {1: 18237, 2: 26642},
 {1: 222097, 2: 448029},
 {1: 18540, 2: 24801},
 {1: 1412223, 2: 966333},
 {1: 327602, 2: 359744},
 {1: 37528, 2: 53452},
 {1: 847964, 2: 641295},
 {1: 552, 2: 32},
 {1: 203},
 {1: 99158, 2: 73068},
 {1: 492184, 2: 173670},
 {1: 436309, 2: 420680},
 {1: 130114, 2: 66574},
 {1: 99792, 2: 139044},
 {1: 1987655, 2: 3008648},
 {1: 47147, 2: 60872},
 {1: 41185, 2: 44139},
 {1: 322242, 2: 220044},
 {1: 1597683, 2: 928509},
 {1: 39812, 2: 66387},
 {1: 52957, 2: 84335},
 {1: 140363, 2: 197782},
 {1: 288009, 2: 494486},
 {1: 169843, 2: 330586},
 {1: 1080581, 2: 425817},
 {1: 265550, 2: 163663},
 {1: 12958, 2: 7256},
 {1: 81374, 2: 35600},
 {1: 202077, 2: 40662},
 {1: 135776, 2: 61069},
 {1: 35453, 2: 33836},
 {1: 67263, 2: 45492},
 {1: 189039, 2: 90614},
 {1: 41627, 2: 17254},
 {1: 1257046, 2: 1442914},
 {1: 806566, 2: 773105},
 {1: 104582, 2: 161607},
 {1: 124095, 2: 71286},
 {1: 50917, 2: 28261},
 {1: 146654, 2: 168404},
 {1: 146438, 2: 91238},
 {1: 185814, 2: 142884},
 {1: 630793, 2: 357960},
 {1: 254792, 2: 186646},
 {1: 152485, 2: 100969},
 {1: 1131267, 2: 938691},
 {1: 78528, 2: 210155},
 {1: 629024, 2: 545378},
 {1: 311734, 2: 249285},
 {1: 110322, 2: 156739},
 {1: 17119, 2: 33768},
 {1: 98266, 2: 184233},
 {1: 18028, 2: 36698},
 {1: 17658, 2: 36612},
 {1: 3002, 2: 2804},
 {1: 20190, 2: 27286},
 {1: 223065, 2: 159156},
 {1: 349144, 2: 256968},
 {1: 1199633, 2: 536145},
 {1: 120667, 2: 57638},
 {1: 958070, 2: 1102870},
 {1: 626, 2: 128},
 {1: 186609, 2: 282701},
 {1: 169455, 2: 131889},
 {1: 77707, 2: 156259},
 {1: 93612, 2: 148934},
 {1: 617630, 2: 482123},
 {1: 76174, 2: 74115},
 {1: 78391, 2: 115407},
 {1: 134383, 2: 106974},
 {1: 72549, 2: 44598},
 {1: 16813, 2: 13618},
 {1: 580668, 2: 471450},
 {1: 47022, 2: 29300},
 {1: 78468, 2: 126061},
 {1: 215624, 2: 168956},
 {1: 1656673, 2: 883720},
 {1: 511},
 {1: 48972, 2: 32815},
 {1: 85610, 2: 63702},
 {1: 44451, 2: 78460},
 {1: 20958, 2: 9074},
 {1: 95007, 2: 43698},
 {1: 242263, 2: 164139},
 {1: 19804, 2: 23807},
 {1: 8045, 2: 3601},
 {1: 133, 2: 29},
 {1: 437204, 2: 307509},
 {1: 141599, 2: 160073},
 {1: 34477, 2: 26031},
 {1: 40122, 2: 62189},
 {1: 118170, 2: 37038},
 {1: 585154, 2: 697235},
 {1: 795084, 2: 167021},
 {1: 675, 2: 685},
 {1: 196675, 2: 179224},
 {1: 13362, 2: 11005},
 {1: 99807, 2: 74459},
 {1: 411207, 2: 358968},
 {1: 268, 2: 77},
 {1: 122301, 2: 136268},
 {1: 154307, 2: 171565},
 {1: 168680, 2: 179740},
 {1: 320651, 2: 436182},
 {1: 154856, 2: 248530},
 {1: 305512, 2: 135347},
 {1: 108884, 2: 55047},
 {1: 137795, 2: 89640},
 {1: 59202, 2: 26576},
 {1: 245892, 2: 172833},
 {1: 30679, 2: 30342},
 {1: 148931, 2: 170931},
 {1: 11713, 2: 15555},
 {1: 33352, 2: 42200},
 {1: 80502, 2: 79942},
 {1: 39644, 2: 46536},
 {1: 221595, 2: 215110},
 {1: 25054, 2: 57466},
 {1: 30},
 {1: 11492328, 2: 10785731},
 {1: 1187937, 2: 2132244},
 {1: 1745918, 2: 1530956},
 {1: 12940, 2: 12943},
 {1: 62731, 2: 66618},
 {1: 273006, 2: 295714},
 {1: 60961, 2: 115858},
 {1: 367022, 2: 119426},
 {1: 138974, 2: 139345},
 {1: 6960, 2: 7213},
 {1: 4365, 2: 10368},
 {1: 17055, 2: 21847},
 {1: 1},
 {1: 809214, 2: 1722374},
 {1: 1993, 2: 5226},
 {1: 55441, 2: 73699},
 {1: 10970, 2: 14935},
 {1: 79913, 2: 205029},
 {1: 601032, 2: 502128},
 {1: 302198, 2: 74084},
 {1: 2519, 2: 521},
 {1: 1170, 2: 96},
 {1: 6564, 2: 6391},
 {1: 1022, 2: 535},
 {1: 1286893, 2: 530618},
 {1: 222, 2: 94},
 {1: 4122, 2: 5547},
 {1: 5, 2: 16},
 {1: 4152, 2: 3594},
 {2: 33},
 {1: 1509, 2: 354},
 {1: 370, 2: 366},
 {1: 58, 2: 150},
 {1: 20209, 2: 6592},
 {1: 2126, 2: 398},
 {1: 1435, 2: 274},
 {1: 3723, 2: 75},
 {1: 2972, 2: 620},
 {1: 1526, 2: 1065},
 {1: 219, 2: 89},
 {1: 2107, 2: 322},
 {1: 1516, 2: 323},
 {1: 2474, 2: 399},
 {1: 192, 2: 14},
 {1: 60669, 2: 9902},
 {1: 565, 2: 60},
 {1: 709, 2: 190},
 {1: 51027, 2: 18384},
 {1: 1532, 2: 530},
 {1: 521, 2: 9},
 {},
 {1: 640, 2: 373},
 {1: 10956, 2: 2610},
 {1: 4993, 2: 2515},
 {1: 1175, 2: 943},
 {1: 1974, 2: 3623},
 {1: 2679, 2: 68},
 {1: 930, 2: 81},
 {1: 599, 2: 14},
 {1: 1388, 2: 1752},
 {1: 309, 2: 585},
 {1: 111, 2: 45},
 {1: 4292, 2: 58},
 {},
 {1: 538, 2: 216},
 {1: 1855, 2: 984},
 {1: 406, 2: 229},
 {1: 4442, 2: 2870},
 {1: 4654, 2: 15774},
 {1: 30, 2: 44},
 {1: 326, 2: 132},
 {1: 194, 2: 49},
 {1: 441, 2: 767},
 {2: 6},
 {1: 227, 2: 262},
 {1: 2089, 2: 5318},
 {1: 153, 2: 311},
 {1: 789, 2: 290},
 {1: 322, 2: 673},
 {1: 3153, 2: 740},
 {1: 1230, 2: 389},
 {1: 2926, 2: 599},
 {},
 {1: 560, 2: 217},
 {1: 104, 2: 34},
 {1: 47, 2: 13},
 {1: 216210, 2: 68052},
 {},
 {2: 1},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {1: 113639, 2: 231510},
 {1: 9284944, 2: 6671523},
 {1: 20335826, 2: 8935810},
 {1: 13995, 2: 19965},
 {1: 196310, 2: 183968},
 {1: 1662, 2: 1901}]

In [13]:
stats = pd.DataFrame(zs).fillna(0) * cellarea#One column per raster category, and pixel count as value
stats.columns = ['major','minor']

In [14]:
results = pd.concat([selection_xy.loc[:,('region_id','title_en','area')], stats], axis = 1)
results

    region_id            title_en          area         major         minor
0      ADM_46  Russian Federation  1.083403e+13  4.229994e+11  4.121122e+11
1       ADM_1           Indonesia  1.892369e+12  2.315848e+11  1.655734e+11
2       ADM_2            Malaysia  3.300722e+11  4.505399e+10  3.361299e+10
3       ADM_3               Chile  7.380158e+11  4.011425e+10  4.084448e+10
4       ADM_4             Bolivia  1.092895e+12  1.428049e+10  2.460149e+10
..        ...                 ...           ...           ...           ...
245     ADM_8               India  3.198124e+12  1.084822e+12  7.794789e+11
246     ADM_9               China  9.502562e+12  2.375971e+12  1.044031e+12
247    ADM_14         South Sudan  6.452892e+11  1.635130e+09  2.332645e+09
248    ADM_84               Sudan  1.868197e+12  2.293622e+10  2.149422e+10
249    ADM_-1      Western Sahara  2.695235e+11  1.941826e+08  2.221066e+08

[250 rows x 5 columns]

In [15]:
results['p_major'] =  results['major']/results['area']#From area to percentage
results['p_minor'] =  results['minor']/results['area']#From area to percentage

In [16]:
results

,region_id,title_en,area,major,minor,p_major,p_minor
0,ADM_46,Russian Federation,1.083403e+13,4.229994e+11,4.121122e+11,0.039044,0.038039
1,ADM_1,Indonesia,1.892369e+12,2.315848e+11,1.655734e+11,0.122378,0.087495
2,ADM_2,Malaysia,3.300722e+11,4.505399e+10,3.361299e+10,0.136497,0.101835
3,ADM_3,Chile,7.380158e+11,4.011425e+10,4.084448e+10,0.054354,0.055344
4,ADM_4,Bolivia,1.092895e+12,1.428049e+10,2.460149e+10,0.013067,0.022510
...,...,...,...,...,...,...,...
245,ADM_8,India,3.198124e+12,1.084822e+12,7.794789e+11,0.339206,0.243730
246,ADM_9,China,9.502562e+12,2.375971e+12,1.044031e+12,0.250035,0.109868
247,ADM_14,South Sudan,6.452892e+11,1.635130e+09,2.332645e+09,0.002534,0.003615
248,ADM_84,Sudan,1.868197e+12,2.293622e+10,2.149422e+10,0.012277,0.011505
249,ADM_-1,Western Sahara,2.695235e+11,1.941826e+08,2.221066e+08,0.000720,0.000824

In [35]:
results.sort_values(by=("major"), ascending=False)

,region_id,title_en,area,major,minor,p_major,p_minor,area_km2
246,ADM_9,China,9.502562e+12,2.375971e+12,1.044031e+12,0.250035,0.109868,9.502562e+06
145,ADM_150,United States of America,9.469103e+12,1.342726e+12,1.260170e+12,0.141801,0.133082,9.469103e+06
245,ADM_8,India,3.198124e+12,1.084822e+12,7.794789e+11,0.339206,0.243730,3.198124e+06
0,ADM_46,Russian Federation,1.083403e+13,4.229994e+11,4.121122e+11,0.039044,0.038039,1.083403e+07
40,ADM_43,Brazil,8.523995e+12,2.322311e+11,3.515206e+11,0.027244,0.041239,8.523995e+06
...,...,...,...,...,...,...,...,...
232,ADM_239,Cocos (Keeling) Islands (Aus.),1.328940e+07,0.000000e+00,0.000000e+00,0.000000,0.000000,1.328940e+01
174,ADM_180,French Southern and Antarctic Lands (Fr.),7.273220e+09,0.000000e+00,3.855612e+06,0.000000,0.000530,7.273220e+03
227,ADM_233,Clipperton Island (Fr.),5.033492e+06,0.000000e+00,0.000000e+00,0.000000,0.000000,5.033492e+00
208,ADM_214,Norfolk Island (Aus.),4.129335e+07,0.000000e+00,0.000000e+00,0.000000,0.000000,4.129335e+01
218,ADM_224,South Georgia and South Sandwich Islands (UK),3.912852e+09,0.000000e+00,7.010204e+05,0.000000,0.000179,3.912852e+03

In [27]:
# compare with 148,940,000 for land areas of the earth according to https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area
results['area_km2'] = results['area']/1e6
results['area_km2'].sum()

130132982.79441328

In [33]:
results.loc[0:3,['title_en','area_km2','major','minor']]

             title_en      area_km2         major         minor
0  Russian Federation  1.083403e+07  4.229994e+11  4.121122e+11
1           Indonesia  1.892369e+06  2.315848e+11  1.655734e+11
2            Malaysia  3.300722e+05  4.505399e+10  3.361299e+10
3               Chile  7.380158e+05  4.011425e+10  4.084448e+10

In [29]:
results['major'].sum() *100 / results['area'].sum()

8.388702627084964

In [30]:
results['minor'].sum() *100 / results['area'].sum()

6.5207433582075485

In [32]:
results['major'].sum() / 1e6

10916468.94637897